* {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

a {
	cursor: pointer;
}

.header {
	position: absolute;
	width: 100%;
	height: 10em;
	margin: 0;
	z-index: 100;
	background:url('../images/top_left_glow.png');
	background-size: 100% 100%; 
}

.header_filler {
	position: relative;
	float: left;
	width: 100%;
	height: 10em;
	margin: 0;
	visibility: none;
}

.header .logo {
	float: left;
	height: 9em;
	margin-top: 0.5em;
	margin-left: 3em;
}

.header .nav_high {
	float: right;
	height: 1em;
	width: 50em;
	margin-top: 0.5em;
	margin-right: 5em;

	list-style-type: none;
}

.header .nav_high li {
	display: inline-block;
	margin: 1em;
	border: 1px solid black;
}

.header .nav_high li a {
	padding-left: 1em;
	padding-right: 1em;
	border: 1px solid blue;
}

.header .nav_high li img {
	width: 2em;
	height: 2em;
}

.header .nav {
	float: left;
	height: 6em;
	width: 70em;
	margin-top: 2em;
	margin-left: 5em;

	list-style-type: none;
}

.header .nav li {
	display: inline-block;
	margin: 1em;
	padding: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border: 1px solid black;
	background-color: green;
}




.page2_header {
	position: relative;
	background-color: #cccccc;
	width: 88em;
	margin: auto;
}

.page2_header .left {
	float: left;
	margin-left: 5em;
	display: inline;
}

.page2_header .left img {
	width: 50em;
	height: 20em;
}

.page2_header .left h2 {
	margin-top: 2em;
	padding:1em;
	padding-bottom: 0em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

.page2_header .right {
	float: left;
	margin-left: 14em;
	width: 15em;
	height: 27.5em;
	padding: 2em;
	padding-top: 3em;
	text-align: center;
	display: inline;
	background-color: #eeece7;
}

.page2_header .right ul li {
	list-style-type: none;
	margin-left: -2em;
}

.page2_header .right ul li:hover {
	cursor: pointer;
	color: #111111;
	text-decoration: underline;
}

.main_content {
	clear: left;
	width: 100%;
	background-color: #0f5640;
	color: #eeece7;
}

.main_content2 {
	clear: left;
	width: 100%;
	background-color: #eeece7;
	color: black;
}

.main_content div, .main_content2 div {
	position: relative;
	width: 88em;
	height: 30em;
	margin: auto;
}

.main_content .left, .main_content2 .left {
	float: left;
	width: 50em;
	margin-left: 5em;
	padding-left: 1em;
	display: inline;
}

.main_content .left .main_p, .main_content2 .left .main_p {
	padding: 2em;
}

.main_content .right, .main_content2 .right {
	float: left;
	width: 28em;
	height: 24em;
	display: inline;
}

.main_content .right img, .main_content2 .right img {
	padding: 2em;
}

.main_content .page2_features, .main_content2 .page2_features {
	width: 50em;
	height: 20em;
}

.main_content .page2_features a, .main_content2 .page2_features a {
	float: left;
	width: 20em;
	height: 15em;
	margin-left: 2em;
	padding: 1em;
	background-color: #eeece7;
	border: 1px solid black;
	color: black;
}

.main_content .page2_features a:hover, .main_content2 .page2_features a:hover {
	background-color: #dddddd;
	border: 1px solid black;
	color: black;
}

.main_content .page2_features a img, .main_content2 .page2_features a img {
	position: relative;
	margin: auto;
	border: 1px solid black;
	width: 100%;
	height: 8em;
	margin: auto;
}

.main_content .page2_features a p, .main_content .page2_features a p {
	border: 1px solid black;
	padding: 0.5em;
	text-align: center;
}




header[role=main] {
	background-color: #000;
	background-image:url('../images/curve.png'), url('../images/front.jpg');
	background-size:contain, cover;
	background-repeat: no-repeat;
	background-position: bottom, center;
	width:100%;
	padding-bottom:46.875%;
}

section[role=main] {
}

.welcome {
	padding: 2em;
}

h1 {
	font-family: 'Donegal One', serif;
	font-size: 1.8em;
	font-weight: 400;
	margin:0;
	padding:0;
	text-align: center;
	width:80%;
	display: inline-block;
	vertical-align: middle;
}
.welcome a {
	color:#fff;
	background:#0f5640;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:400;
	font-size:1.8em;
	margin-left: 3%;
	width:17%;
	padding:1em;
	text-align: center;
}
.features {
	padding:2em;
	background-color: #eeece7;
}
.feature {
	width:30%;
	margin-right: 5%;
	display: inline-block;
	vertical-align: top;
}
.feature:last-of-type {
	margin-right: 0;
}

.feature header {
	font-family: 'Donegal One', serif;
	font-size: 1.3em;
}

.feature img {
	width:100%;
	margin-top: 1em;
	border:1px solid #fff;
}

.feature p {
	margin:1em 0;
}

.feature a.more {
	display: inline-block;
	padding:0.5em 1em;
	background:#0f5640;
	text-decoration: none;
	font-weight:600;
	color:#fff;
	border:1px solid #fff;
}

footer[role=main] {
	font-size:1.5em;
	padding:1em 2em;
	text-align: center;
}
footer[role=main] img.equal_housing {
	background:#0f5640;
	height:2em;
	vertical-align: middle;
	margin-left: 1em;
}
footer.copyright {
	background: #635c4a;
	color:#fff;
	padding:0.5em 2em;
	font-size:0.8em;
	font-weight: 400;
	text-align: center;
}